<div class="my-3 p-3 bg-white rounded shadow-sm">
	<h6 class="border-bottom border-gray pb-2 mb-0">Course List</h6>

	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#20c997"></rect><text x="50%" y="50%" fill="#20c997" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Setup Project</strong>
				<a class="badge badge-info" href="https://github.com/oopcoders/Angular-Core-Authentication" target="blank">GitHub.com</a>
			</div>
			<span class="d-block">Get project on GitHub.com</span>
		</div>
	</div>

	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#EFA31D"></rect><text x="50%" y="50%" fill="#EFA31D" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Video 1</strong>
				<a class="badge badge-warning" href="https://freedcamp.com/view/2802367/tasks" target="blank">Checklist</a>
				<a class="badge badge-danger" href="https://gist.github.com/oopcoders/fbac62813a64ab57a4338c602be8d7bd" target="blank">Snippet
					Link</a>
			</div>
			<span class="d-block">Configure Identity in StartUp Class</span>
		</div>
	</div>

	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#FC3939"></rect><text x="50%" y="50%" fill="#FC3939" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Video 2</strong>
				<a class="badge badge-warning" href="https://freedcamp.com/view/2802367/tasks" target="blank">Checklist</a>
				<a class="badge badge-danger" href="https://gist.github.com/oopcoders/b752a8d275b2572fe184a51f27081e62" target="blank">Snippet
					Link</a>
			</div>
			<span class="d-block">Set up Identity in database context and run migration</span>
		</div>
	</div>

	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Video 3</strong>
				<a class="badge badge-warning" href="https://freedcamp.com/view/2802367/tasks" target="blank">Checklist</a>
				<a class="badge badge-danger" href="https://gist.github.com/oopcoders/b251ff14b93b402c3fadddc067b34f18" target="blank">Snippet
					Link</a>
			</div>
			<span class="d-block">Register new user using Identity - API</span>
		</div>
	</div>

	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#20c997"></rect><text x="50%" y="50%" fill="#20c997" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Video 4</strong>
				<a class="badge badge-warning" href="https://freedcamp.com/view/2802367/tasks" target="blank">Checklist</a>
				<a class="badge badge-danger" href="https://gist.github.com/oopcoders/029ba6a0457cfee6416e7981739ef672" target="blank">Snippet
					Link</a>
			</div>
			<span class="d-block">Create SPA Register Method in Auth Service - SPA</span>
		</div>
	</div>

	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#EFA31D"></rect><text x="50%" y="50%" fill="#EFA31D" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Video 5</strong>
				<a class="badge badge-warning" href="https://freedcamp.com/view/2802367/tasks" target="blank">Checklist</a>
				<a class="badge badge-danger" href="https://gist.github.com/oopcoders/a93d2917eb02ac146289bdf9c801d0b1" target="blank">Snippet
					Link</a>
			</div>
			<span class="d-block">Login User - API</span>
		</div>
	</div>

	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#FC3939"></rect><text x="50%" y="50%" fill="#FC3939" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Video 6</strong>
				<a class="badge badge-warning" href="https://freedcamp.com/view/2802367/tasks" target="blank">Checklist</a>
				<a class="badge badge-danger" href="https://gist.github.com/oopcoders/4a884c5c9d3b809981d28dad0da52273" target="blank">Snippet
					Link</a>
			</div>
			<span class="d-block">Login User - SPA</span>
		</div>
	</div>

	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Video 7</strong>
				<a class="badge badge-warning" href="https://freedcamp.com/view/2802367/tasks" target="blank">Checklist</a>
				<a class="badge badge-danger" href="https://gist.github.com/oopcoders/734b973ffa1aea74b1a7b2df83100fd8" target="blank">Snippet
					Link</a>
			</div>
			<span class="d-block">Generate a Json Web Token</span>
		</div>
	</div>

	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#20c997"></rect><text x="50%" y="50%" fill="#20c997" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Video 8</strong>
				<a class="badge badge-warning" href="https://freedcamp.com/view/2802367/tasks" target="blank">Checklist</a>
				<a class="badge badge-danger" href="https://gist.github.com/oopcoders/5874f6aa4244d9220fd4c796ee0016c3" target="blank">Snippet
					Link</a>
			</div>
			<span class="d-block">Protect API With JWT Token - API</span>
		</div>
	</div>

	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#EFA31D"></rect><text x="50%" y="50%" fill="#EFA31D" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Video 9</strong>
				<a class="badge badge-warning" href="https://freedcamp.com/view/2802367/tasks" target="blank">Checklist</a>
				<a class="badge badge-danger" href="https://gist.github.com/oopcoders/2c8308b7fdee520df992dff77b930b5f" target="blank">Snippet
					Link</a>
			</div>
			<span class="d-block">Call protected API from client - SPA</span>
		</div>
	</div>

	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#FC3939"></rect><text x="50%" y="50%" fill="#FC3939" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Video 10</strong>
				<a class="badge badge-warning" href="https://freedcamp.com/view/2802367/tasks" target="blank">Checklist</a>
				<a class="badge badge-danger" href="https://gist.github.com/oopcoders/b80e0bdd1ad8c9a7572184927cc1cddc" target="blank">Snippet
					Link</a>
			</div>
			<span class="d-block">Assign Roles to Users</span>
		</div>
	</div>

	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Video 11</strong>
				<a class="badge badge-warning" href="https://freedcamp.com/view/2802367/tasks" target="blank">Checklist</a>
				<a class="badge badge-danger" href="https://gist.github.com/oopcoders/8a1c4e23b79b5e417b4d343112a23c2e" target="blank">Snippet
					Link</a>
			</div>
			<span class="d-block">Assign Claims to Users</span>
		</div>
	</div>

	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#20c997"></rect><text x="50%" y="50%" fill="#20c997" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Video 12</strong>
				<a class="badge badge-warning" href="https://freedcamp.com/view/2802367/tasks" target="blank">Checklist</a>
				<a class="badge badge-danger" href="https://gist.github.com/oopcoders/79e7235e515d0e42ce6bb38214ee1305" target="blank">Snippet
					Link</a>
			</div>
			<span class="d-block">Create and use policies to protect API</span>
		</div>
	</div>

	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#EFA31D"></rect><text x="50%" y="50%" fill="#EFA31D" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Video 13</strong>
				<a class="badge badge-warning" href="https://freedcamp.com/view/2802367/tasks" target="blank">Checklist</a>
				<a class="badge badge-danger" href="https://gist.github.com/oopcoders/d48f2d638427866f02bd18e00509c3c9" target="blank">Snippet
					Link</a>
			</div>
			<span class="d-block">Decode JWT token and use in application</span>
		</div>
	</div>

	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#FC3939"></rect><text x="50%" y="50%" fill="#FC3939" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Video 14</strong>
				<a class="badge badge-warning" href="https://freedcamp.com/view/2802367/tasks" target="blank">Checklist</a>
				<a class="badge badge-danger" href="https://gist.github.com/oopcoders/9bf3520dcba4463eedb2744e02c91791" target="blank">Snippet
					Link</a>
			</div>
			<span class="d-block">Call protected API from SPA</span>
		</div>
	</div>

	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Video 15</strong>
				<a class="badge badge-warning" href="https://freedcamp.com/view/2802367/tasks" target="blank">Checklist</a>
				<a class="badge badge-danger" href="https://gist.github.com/oopcoders/cd9bacbdfcd52e37d8f6cbc5c29d503b" target="blank">Snippet
					Link</a>
			</div>
			<span class="d-block">Confirming Emails</span>
		</div>
	</div>

	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#20c997"></rect><text x="50%" y="50%" fill="#20c997" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Video 16</strong>
				<a class="badge badge-warning" href="https://freedcamp.com/view/2802367/tasks" target="blank">Checklist</a>
				<a class="badge badge-danger" href="https://gist.github.com/oopcoders/334a80d79f7cbe43c4de06b26db10b6c" target="blank">Snippet
					Link</a>
			</div>
			<span class="d-block">Confirming Emails - SPA</span>
		</div>
	</div>


</div>