<ng-progress id="progressBar" [thick]="true" [color]="progressBar.currentColor"></ng-progress>
<ngx-alerts></ngx-alerts>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active">Net Core Identity</a>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['admin']" routerLinkActive="active"><i class="fas fa-user-shield"></i> Admin</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['manager']" routerLinkActive="Manager"><i class="fas fa-user-cog"></i> Manager</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" [routerLink]="['public']" routerLinkActive="router-link-active"><i class="fas fa-users"></i> Public</a>
			</li>
		</ul>
		<app-auth-links></app-auth-links>
	</div>
</nav>