<div class="jumbotron mt-4">
	<h1 class="display-4">Angular, .Net Core and Identity</h1>
	<p>Authentication & Authorization Tutorial (Roles/Claims/Identity/JWT)
	</p>
	<p class="lead"><a target="blank" href="https://www.youtube.com/channel/UCqtKLBlLNC2Qn-ZfRPaFRZQ">Find this course on YouTube</a>
	</p>

	<p><a target="blank" href="https://github.com/oopcoders/Angular-Core-Authentication">Github</a>
	</p>
	<hr class="my-4">
	<app-auth-buttons></app-auth-buttons>

</div>
<app-course-list></app-course-list>